<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh Humphrey</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="navbar">
        <b><a href="/">Home</a></b>
        <b><a href="/resume">Resume</a></b>
    </div>

    <div id="content">
        <div id="left-content">
            <h1>Josh Humphrey</h1>
            <div id="blurb">
                <p>Hi! I'm a software engineer at 
                    <b><a href="https://www.snapchat.com/" target="_blank">Snapchat</a></b>
                     👻 as a tech lead on the mobile release team. I've worked on core infastructure,
                    large scale distributed systems, and some internal tools along the way</p>
            </div>
        </div>
        <div id="profile-picture">
            <img src="/static/profile_picture.png" alt="Professional Headshot of Josh Humphrey">
        </div>
    </div>
</body>
</html>